<h1>User Detail</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>
<p>
  <strong>Zip_code:</strong>
  <%= @user.zip_code %>
</p>
<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>
<p>
  <strong>Years of Practice:</strong>
  <%= @user.years_practice %>
</p>
<%= link_to 'Back', users_path %>
