<%= form_for @schedule do |f| %>
    <% if @schedule.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited
            this schedule from being saved:</h2>
          <ul>
            <% @schedule.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :Pet_Name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :Date %>
      <%= f.date_select :dated %>
    </p>
    <p>
      <%= f.label :Reason %>
      <%= f.text_area :reason %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>